.container-team {
  height: calc(100vh - 70px);
}

.list-team {
  padding-bottom: 80px;
}

.contact-team {
  font-size: 30px;
}

.container-team .fa-envelope-o {
  font-size: 30px;
  color: #1F74BA;
  padding-right: 10px;
}
